body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 40px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

.container {
    max-width: 1500px;
    margin: auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

select, input, button {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #3498db;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

ol {
        font-weight: bold;
}

p {
    font-weight: normal;
}

thead th {
    text-align: left;
    background-color: #f1f1f1;
    border-bottom: 2px solid #ccc;
}

td {
    vertical-align: middle;
    font-weight: normal;
}

table {
   margin-bottom: 20px; 
}